/* Navbar */

.logo{
    width: 150px;

}
.custom-nav{
    padding-left: 40%;
}

.nav-custom{
    background-color: #0d9fec;
}

.nav-link-custom:hover{
    color: #c4302b;
}

/* BUNNER (CONT2-F) */
.h-cont2-f-row1-col1{
    height: 550px;
    animation-name: home-banner;
    animation-iteration-count: infinite;
    animation-duration: 50s;
}

/* banner animation background */

@keyframes home-banner{
    0%{ background-image: url(../images/home_banner/best\ music\ players.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    15%{ background-image: url(../images/home_banner/games.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    25%{ background-image:url(../images/products/games1.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    45%{ background-image:url(../images/home_banner/languages.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    75%{ background-image: url(../images/home_banner/listenmusic.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    100%{ background-image: url(../images/home_banner/opera.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
}

/* End of banner animation background */

/* OVERLAY */

.overlay-1{
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.322);
}
#h1{
    font-size: 80px;
    margin-top: 70px;
    color: white;
}

.banner-n-cont-col{
    height: 90px;
    margin: 2px;
}

/* Social Icons */
/* Facebook */
.facebook{
    width: 50px;
    position: relative;
    height: 50px;
    background: #0d9fec;
    border-radius: 50%;
    transition: transform 1s ease;
}

.facebook i{
    color: white;
    margin-left: 18px;
    margin-top: 15px;
    font-size: 21px; 
}

.icons:hover{
    transform: rotateX(360deg);
    background: rgb(59, 89, 152);
}

/* Youtube */

.youtube{
    width: 50px;
    position: relative;
    height: 50px;
    background: #0d9fec;
    border-radius: 50%;
    transition: transform 1s ease;
}

.youtube i{
    color: white;
    margin-left: 16px;
    margin-top: 15px;
    font-size: 21px;
    
}

.youtube:hover{
    transform: rotateX(360deg);
    background: #c4302b;
}

/* Google Plus */

.googleplus{
    width: 50px;
    position: relative;
    height: 50px;
    background: #0d9fec;
    border-radius: 50%;
    transition: transform 1s ease;
}

.googleplus i{
    color: white;
    margin-left: 14px;
    margin-top: 15px;
    font-size: 21px;    
}

.googleplus:hover{
    transform: rotateX(360deg);
    background:  #d34836;
}

/* End of social icons */

/* END OF BURNER */



/*  CONTENT CONTAINER */



/* Brief introduction about us */

/* A Brief introduction What We Do */
.h-cont3-f-row1-col{
   height: 300px;
   margin: 4px; 
   position: relative;
}
.h-cont3-f-row1-col1{
    background-image: url(../images/about/working.jpg);
    background-size: cover;
}

/* A Brief Introduction Who We Are */
.h-cont3-f-row1-col2{
    background: url(../images/about/handsha2.jpg);
    background-size: cover;
}


.h3-top{
   transform: translateY(100px);
   transition: 1.5s ease;
}

.overlay-content-about{
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 1.5s ease;
}
.overlay-2{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    padding: 5px;
    padding-top: 20px;
    transition: 1s ease;
}

.overlay-2:hover{
    background-color: rgba(0, 0, 0, 0.85)
}

.overlay-2:hover .overlay-content-about{
    height: 30%;
    opacity: 1;
}

.overlay-2:hover .h3-top{
    transform: translateY(-10px)
}

/* Brief introduction Products */
.h-cont3-f-row2-col{
    background: green;
    margin: 4px;
    height: 300px; 
}

/* OVERALL about use*/

/* btn */
.btn-overall{
    opacity: 0;
    transition: 1s ease;
    transition-delay: 0.4s; 
}

.overlay-2:hover .btn-overall{
    opacity: 1;
}

.btn-overall-link{
    color: white;
    outline: none;
    border: none;
}
.btn-overall-link:hover{
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

/* product one */

.h-cont3-f-row2-col3{
    background-image: url(../images/products/games1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.h-cont3-f-row2-col1{
    background-image: url(../images/products/kaspersky.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.h-cont3-f-row2-col2{
    color: white;
    background-image: url(../images/products/vlc.png);
    background-size: cover;
}

.h-cont3-f-row2-col4{
    color: white;
    background-image: url(../images/products/chrome.jpg);
    background-size: cover;
}

.product-overlay{
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 100%;
    position: relative;
}

.product-overlay:hover{
    background-color: rgba(0, 0, 0, 0.85);
}

.animate-1{
    transform: translateY(130px);
    animation-name: move-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* @keyframes move-1 {
    50%{transform: translateY(40px);}
} */


.btn-custom{
    transform: translateY(220px);
    opacity: 0;
    transition: 1s ease-in-out opacity;
}

.product-overlay:hover .btn-custom{
    opacity: 1;
}

/* our partners logos */

.h-cont3-f-row3-col{
	height: 100px;
	margin: 5px;
}



.partner_three{
    width: 100%; 
    height: 100%;
}

.partner_one{
    width: 100%;
    height: 100%;
}

/* END OF CONTENT CONTAINER */

/* FOOTER */
.h-cont4-f{
	background-color: #0d9fec;
	
}



/* Footer */

.h-cont4-f-row1-col{
    height: 100px;
}



/* Phone Number and Icon and all the effects*/
.icon1{
    position: relative;
    background-color: beige;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.phone-icon{
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 23px;
}

/* Phone No */
.phone-icon p{
    position: relative;
    bottom: -29px;
    left: -38px;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s ease;
}

.h-cont4-f-row1-col1:hover .phone-icon p{
    opacity: 1;
    color: white;
}

/* End of Phone Number and Icon and all the effects*/

/* Whatsapp icon and number and all the effects*/
.icon2{
    position: relative;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.5s ease;
}

.whatsapp-icon{
    position: absolute;
    top: 28%;
    left: 25%;
    font-size: 21px;
}


/* Whatsapp No */
.whatsapp-icon p{
    position: relative;
    bottom: -29px;
    left: -36px;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s ease;
}

/* Whatapp hover */
.h-cont4-f-row1-col2:hover .whatsapp-icon p{
    opacity: 1;
    color: white;
}

/* End of Whatsapp icon and number and all the effects*/

/* Gmail icon and Gmail And all the Effects */

.icon3{
    position: relative;
    background-color: beige;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.5s ease;
}

.gmail-icon{
    position: absolute;
    top: 24%;
    left: 24%;
    font-size: 23px;
    transition: 0.5s ease;
}

/* Gmail  */
.gmail-icon p{
    position: relative;
    bottom: -29px;
    left: -55px;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s ease;
}

/* Gmail hover */

.h-cont4-f-row1-col3 a:hover .gmail-icon p{
    opacity: 1;
    color: white;
}

/* End Gmail icon and Gmail And all the Effects */





/* ************************************************************************************************************** */

/* ABOUT PAGE */


.carousel-box{
    position: relative;
}

/* carousel box containing social media icons */

.carousel-box-overlay{
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 1%;
    left: 2%;
    margin: auto;
    width: 180px;
    height: 60px;
}


/* facebook anchor */

.facebook-about{
    flex: 1;
    border-radius: 50%;
    margin: 2px;
    position: relative;
}

/* facebook icon normal */

.facebook-icon-about{
    position: absolute;
    top: 7%;
    left: 4%;
    width: 94%;
    height: 89%;
    font-size: 25px;
    border-radius: 50%;
    padding-top: 25%;
    text-align: center;
    color: white;
    background-color: #00c2a8;
}

/* facebook icon hover */

.facebook-icon-about:hover {
    transform: rotateX(360deg);
    transition: ease 1.3s;
    text-decoration: none;
    background-color: rgb(59, 89, 152);
    color: white;
}

/* Youtube anchor */

.youtube-about{
    flex: 1;
    border-radius: 50%;
    margin: 2px;
    position: relative;
}

/* youtube icon normal */

.youtube-icon-about{
    position: absolute;
    top: 7%;
    left: 4%;
    width: 94%;
    height: 89%;
    font-size: 25px;
    border-radius: 50%;
    padding-top: 25%;
    text-align: center;
    color: white;
    background-color: #00c2a8;
}

/* youtube icon hover */

.youtube-icon-about:hover {
    transform: rotateX(360deg);
    transition: ease 1.3s;
    text-decoration: none;
    background-color: #ff0000;
    color: white;
}



/* googleplus anchor */

.gplus-about{
    flex: 1;
    border-radius: 50%;
    margin: 2px;
    position: relative;
}

/* googleplus icon normal*/

.gplus-icon-about{
    position: absolute;
    top: 7%;
    left: 4%;
    width: 94%;
    height: 89%;
    font-size: 25px;
    border-radius: 50%;
    padding-top: 25%;
    text-align: center;
    color: white;
    background-color: #00c2a8;
}

/* googleplus icon hover */

.gplus-icon-about:hover {
    transform: rotateX(360deg);
    transition: ease 1.3s;
    text-decoration: none;
    background-color: #dd4b39;
    color: white;
}



/* End carousel box containing social media icons */


/* main body container */

.a-cont1-f-row1-col{
    height: 200px;
    background-color: #dd4b39;
    margin: 5px;
}

/* first container row one column one contents */

.a-cont1-f-row1-col1{
    background-image: url(../images/about/ceo.jpg);
    background-size: cover;
}

/* first container row one column one contents */

.a-cont1-f-row1-col2{
    background-image: url(../images/about/directer.jpg);
    background-size: cover;
}

/* first container row one column one contents */

.a-cont1-f-row1-col3{
    background-image: url(../images/about/dir.jpg);
    background-size: cover;
}

/* first container row one columns caption general */

.a-cont1-f-row1-col h6{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    height: 35px;
    padding-top: 7px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Who we are row What we do */
.a-cont1-f-row2-col{
    color: rgb(51, 51, 51);
    margin: 2px;
    border: 0.5px solid rgba(51, 51, 51, 0.521);
}

.a-cont1-f-row2-col p{
    color: black;
}

.a-cont1-f-row3-col{
    border: 0.5px solid rgba(51, 51, 51, 0.521);
    margin: 2px;
    color: black;
}

/* Styling the icons */

.a-cont1-f-row3-col i{
    font-size: 35px;
}

/* Styling texts */

.a-cont1-f-row3-col p{
    color: black;
}

/* Our partners */

.a-cont1-f-row4-col{
    height: 90px;
    margin: 4px;
}




/* *************************************************************************************************************************** */
/* CONTACT PAGE */

/* Banner  */
.c-cont1-f-row1-col1{
    height: 500px;
    /* background-image: url(../images/banners/contact1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    position: relative;
    animation-name: contact-banner;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

/* Contact banner animation */

@keyframes contact-banner {
    0%{ background-image: url(../images/banners/contact4.jpg); background-attachment: fixed; background-size: cover;}
    50%{ background-image: url(../images/banners/contact2.jpg); background-attachment: fixed; background-size: cover;}
    100%{ background-image: url(../images/banners/contact.jpg); background-attachment: fixed; background-size: cover;}
}

.contact-overlay{
    position: absolute;
    display: flex;
    bottom: 30%;
    left: 42%;
    width: 180px;
    height: 60px;
}


/* Body container */

/* location, phone, and gmail */

.c-cont2-f-row1-col1{
    height: 300px;
    background-color: #0d9fec;
    margin:2px;
    margin-right:30px;
    transition: 0.5s ease;
}

.c-cont2-f-row1-col2{
    height: 300px;
    background-color: #0d9fec;
    margin:2px;
    margin-right:30px;
    transition: 0.5s ease;
}

.c-cont2-f-row1-col3{
    height: 300px;
    background-color: #0d9fec;
    margin:2px;
    margin-right:30px;
    transition: 0.5s ease;
}

/* Row containing location, phone, and gmail columns */

.c-cont2-f-row1{
    margin-top: -50px;
}

  /* Icon boxs */
  .icon-box{
      background-color: aqua;
      height: 65px;
      width: 65px;
      margin: auto;
      margin-top: 30px;
      border-radius: 50%;
      position: relative;
      font-size: 25px;
  }

  .icon{
      position: absolute;
      bottom: 30%;
      left: 35%;
      color: white;
  }

.c-cont2-f-row1-col h5, p{
    color: white;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.c-cont2-f-row1-col:hover{
    box-shadow: 5px 5px 10px;
    transform: translateY(-5px);
}

/* map and form section */

.c-cont2-f-row2-col{
    height: 400px;
    margin: 5px;
}

/* Styling form */

.c-cont2-f-row2-col2{
    background-image: url(../images/banners/form-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.c-cont2-f-row2-col2 form{
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

.c-cont2-f-row2-col2 form label{
    color: white;
    font-size: 17px;
}

.c-cont2-f-row2-col2 form input[type=text], input[type=email] {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    transition: 0.3s;
    border-bottom: 1px solid white;
} 

.textarea{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white; 
    transition: 0.3s;
}

.textarea:focus{
    font-size: 20px;
    background: transparent;
    outline: none;
    box-shadow: 0 0 0;
}

.c-cont2-f-row2-col2 form input[type=text]:focus, input[type=email]:focus{
    font-size: 20px;
    background: transparent;
    outline: none;
    box-shadow: 0 0 0;
} 


/* ********************************************************************************************************************** */

/* ANDROID PAGE */
.com-n{
    height: 250px;
    overflow: hidden;
    /* position: relative; */
}

/* Animating backgroud App of the day */
.and-cont1-f-row1-col1 {
    position: relative;
    background-color: #333;
    animation-name: bg-app-day;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

/* p-section-2-btn  */
.p-section-2-btn{
    position: absolute;
    right: -100px;
    bottom: 60px;
    z-index: 1;
    transition: 0.5s ease-out;
}

.com-n:hover .p-section-2-btn{
    right: 40%;
}

/* @keyframes bg-app-day{
    0%{background: url(../images/android/mx-bg1.jpg); background-size: cover;}
    25%{background: url(../images/android/mx-p-bg4.jpg); background-size: cover;}
    50%{ background: url(../images/android/mx-p-bg2.jpg); background-size: cover;}
    100%{ background: url(../images/android/mx-p-bg3.jpg); background-size: cover;}
} */


/* Player */

.and-cont1-f-row1-col1 h2{
    position: absolute;
    bottom: 250px;
    left: 39%;
    transform: scale(0);
    color: white;
    animation-name: player;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

/* Animating Player */

@keyframes player{
   0%{transform: scale(0);}
   50%{transform: scale(2);}
   65%{ transform: scale(1); } 
   100%{ transform: scale(1); bottom: 160px;}
}

.and-cont1-f-row1-col1 h1{
    color: white;
    position: absolute;
    bottom: 250px;
    left: 35%;
    transform: scale(0);
    animation-name: introducing;
    animation-duration: 4s;
    animation-delay: 2s;
}

/* Animating Introducing */
@keyframes introducing{
    0%{transform: scale(0);}
    50%{ transform: scale(2);}
    100%{ transform: scale(0);}
}



/* App of the day */
.and-cont1-f-row1-col1 h4{
    color: azure;
    font-size: 2em;
    position: absolute;
    left: 20px;
    top: 25px;
    animation-name: header-app-day;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* animate header-app-day */

@keyframes header-app-day{
    0%{left: -190px;}
    100%{left: 35%;}
}

/* Buttons for app day */
.btn-app-day{
    position: absolute;
    animation-name: btn-app-day;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    left: -190px;
    bottom: 180px;
}

/* Animate Btn */
@keyframes btn-app-day{
    0%{
        left: -190px;
        bottom: 180px;
    }
    50%{
        left: 35%;
        bottom: 180px;
    }

    100%{
        left: 35%;
        bottom: 50px;
    }
}

/* Logo */

.app-day-logo{
    height: 150px;
    position: absolute;
    bottom: 1px;
    left: 1px;
    animation-name: app-day-logo;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* animate logo */

@keyframes app-day-logo{
    0%{transform: scale(0.1);}
    
    100%{transform: scale(1.3);}
}

/* Players section 2 */

.p-section-2-img{
    width: 100%;
    height: 100%;
    transition: 1s ease-out;
}

/* Animation and Transition Players section 2 */

.p-section-2-img:hover{
    transform: scale(1.2);
}

/* Third Container Section 2 */

/* Third container row one */

.and-cont3-f-row1-col{
    height: 250px;
    margin: 2px;
    margin-top: 15px;
    position: relative;
}

/* Final Fantacy */
.and-cont3-f-row1-col1{
    background-image: url(../images/android/games/FINAL\ FANTASY\ BRAVE\ EXVIUS.jpg);
    background-size: cover;
}

/* vainglory */
.and-cont3-f-row1-col2{
    background-image: url(../images/android/games/vainglory.png);
    background-size: cover;
}

/* plagueincevolved */
.and-cont3-f-row1-col3{
    background-image: url(../images/android/games/plagueincevolved.png);
    background-size: cover;
}


/* Nova Legacy */
.and-cont3-f-row1-col4{
    background-image: url(../images/android/games/NOVA\ Legacy.jpg);
    background-size: cover; 
}

/* Row one overlays */

/* Row one overlays top content */

.a-games-overlay-top h5{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 13px; 
    transform: scale(0);
    transition: 0.5s;
}

/* Row one overlays top content hover */

.and-cont3-f-row1-col:hover .a-games-overlay-top h5{
    transform: scale(1);
}

/* Row one overlays bottom content */
.a-games-overlay-bottom a{
    transform: scale(0);
    transition: 0.2;
    transition-delay: 0.4s;
}

.and-cont3-f-row1-col:hover .a-games-overlay-bottom a{
    transform: scale(1);    
}

/* Row one overlays top */
.a-games-overlay-top{
    height: 0;
    widows: 100%;
    background-color: rgba(13, 159, 236, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-out;
}

/* Row one overlays top hover */
.and-cont3-f-row1-col:hover .a-games-overlay-top{
    height: 50px;
}


/* Row one overlays bottom */

.a-games-overlay-bottom{
    height: 50px;
    text-align: center;
    padding-top: 5px;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(13, 159, 236, 0.8);
    transition: 0.5s ease-out width;
}

/* Row one overlays bottom Hover */

.and-cont3-f-row1-col:hover .a-games-overlay-bottom{
    width: 100%;
} 


/* Third Container Row two  */

.and-cont3-f-row2-col{
    height: 250px;
    background-color: #333;
    margin: 2px;
    margin-top: 15px;
}

/* ################################################################################## */

/* Row Two overlays */

/* Row two overlays top content */

.a-d-overlay-top h5{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 13px; 
    transform: scale(0);
    transition: 0.5s;
}

/* Row two overlays top content hover */

.and-cont3-f-row2-col:hover .a-d-overlay-top h5{
    transform: scale(1);
}

/* Row two overlays bottom content */
.a-d-overlay-bottom a{
    transform: scale(0);
    transition: 0.2;
    transition-delay: 0.4s;
}

.and-cont3-f-row2-col:hover .a-d-overlay-bottom a{
    transform: scale(1);    
}

/* Row two overlays top */
.a-d-overlay-top{
    height: 0;
    widows: 100%;
    background-color: rgba(13, 159, 236, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-out;
}

/* Row two overlays top hover */
.and-cont3-f-row2-col:hover .a-d-overlay-top{
    height: 50px;
}


/* Row two overlays bottom */

.a-d-overlay-bottom{
    height: 50px;
    text-align: center;
    padding-top: 5px;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(13, 159, 236, 0.8);
    transition: 0.5s ease-out width;
}

/* Row two overlays bottom Hover */

.and-cont3-f-row2-col:hover .a-d-overlay-bottom{
    width: 100%;
}

/* ################################################################################## */


/* Background images */

/* .and-cont3-f-row2-col1{
    background: url(../images/android/others/truecaller.png);
    background-size: cover;
} */

.a-apps{
    height: 120px;
    position: absolute;
    left: 30%;
    bottom: 70px;
}

/* Third Container Row Three  */
.and-cont3-f-row3-col{
    /* height: 250px; */
    margin: 5px;
    margin-top: 10px;
    
}

.and-cont3-f-row3-col:hover{
    box-shadow: 5px 5px 10px;
    transition: 0.5s ease;
}



/* ******************************************************************************************************************* */

/* MICROSOFT PAGE */

/* Microsoft Body */

/* Games section  */
.m-cont2-f-row1-col{
    height: 250px;
    margin: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.games{
    width: 100%;
    height: 100%;
}

/* Hover on games images */
/* .m-cont2-f-row1-col:hover .games{
    transform: scale(1.02, 1.02);
    transition: 0.5s ease;
} */

/* games-overlay */

.games-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.685);
    opacity: 0;
    transition: 0.5s ease;
}

.games-overlay p{
    position: absolute;
    bottom: 130px;
    left: 35%; 
    z-index: 0;
}

/* Overlay Hover */

.m-cont2-f-row1-col:hover .games-overlay{
    opacity: 1;
    height: 100%;
}

/* Button Games */
.btn-games{
    position: absolute;
    bottom: 10px;
    left: 35%;
    color: white;
}

/* Microsoft Body Section Two */
.m-cont2-f-row2-col{
    height: 250px;
    background-color: red;
    margin: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.m-cont2-f-row2-col1{
    background-image: url(../images/microsoft/Multimedia/dickdj-bg.jpg)
}

.m-cont2-f-row2-col2{
    background-image: url(../images/microsoft/Multimedia/bass\ cover.jpg)
}

.m-cont2-f-row2-col4{
    background-image: url(../images/microsoft/Multimedia/dj-bg.jpg)
}


/* Styling Playes logos */
.players{
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 90px;
    transition: 1s ease;
    animation-name: player-logos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Animating Player icons */

@keyframes player-logos{
    0%{
        bottom: 5px;
    }
    50%{
        bottom: 8px;
    }
    75%{
        bottom: 15;
    }
    85%{
        bottom: 8;
    }
    100%{
        bottom: 5px;
    }
}

/* Players Logos On Hover */
.m-cont2-f-row2-col:hover .players{
    position: absolute;
    bottom: 40px;
    left: 20%;
    height: 165px;
    animation: 0;
}

/* Styling players button */
.btn-playes{
    position: absolute;
    bottom: 5px;
    left: 36%;
    height: 30px;
    padding-top: 1.6px;
    opacity: 0;
    color: white;
}

/* Btn players Hover  */

.m-cont2-f-row2-col:hover .btn-playes{
    opacity: 1;
    color: white;
    transition: 1s ease-in;
}

.m-cont2-f-row2-col h5{
    color: white;
    margin-top: 5px;
}

.m-cont2-f-row3-col{
    height: 400px;
}

/* Microsoft Body Section Three */
.m-cont2-f-row3-col1{
    /* height: auto; */
    margin: 4px;
    margin-top: 15px;
    margin-bottom: 3px;
    position: relative;
    animation-name: browsers;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes browsers{
    0%{ background-image: url(../images/microsoft/browsers/fox-bg.png); background-size: cover;}
    50%{background-image: url(../images/microsoft/browsers/opera.jpg); background-size: cover;}
    100%{ background-image: url(../images/microsoft/browsers/chrome-bg.jpg); background-size: cover;}
}

/* Overlay Browser */
.browser-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(13, 159, 236, 0.5);
}

/* Row One Chrome */
.m-cont3-f-n-row1-col{
    margin: 1px;
}


/* Row Two  Opera*/
.m-cont3-f-n-row2-col{
    margin: 1px;
}


/* Row Three Safari */

.m-cont3-f-n-row3-col{
    margin: 1px; 
}

/* Row Four Firefox */

.m-cont3-f-n-row4-col{
    margin: 1px;  
}

/* General Browser Names */

.b-name h6{
    color: white;
    margin-top: 16px;
}


/* General Browser logos */

.browsers{
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-cont2-f-row3-col2{
    background: url(../images/microsoft/antivirus/Malware_01.jpg);
    background-size: cover;
    position: relative;
}









/* BUTTON GENERAL */

.btn-general{
    outline: none;
    color: white;
    background-color: rgba(0, 255, 255, 0);
    border: 1px solid aqua;
    width: 100px;
}

.btn-general:hover{
    background-color: #0d9fec;
    border: none;
    transition: 0.2s ease-in;
    border: 1px solid white;
    color: white;
}
